@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

.App {
  text-align: center;
  background-image: url("./images/background.jpg"); /* 배경 이미지 경로 */
  background-size: cover; /* 이미지를 화면에 맞게 늘리거나 축소 */
  background-position: center; /* 이미지를 가운데 정렬 */
  font-family: "Gowun Batang", serif;
}
